@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

body {
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

.pagination-container {
    margin: 50px auto;
    text-align: center;
    max-width: max-content;
}

.pagination {
    position: relative;
}

.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 16px 10px;
}

.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #2c3e50;
    border-radius: 24px;
    transform: scale(0);
    transition: all 0.2s;
}

.pagination a:hover {
    color: #fff;
}

.pagination a:hover:before {
    transform: scale(1);
}

.pagination-newer {
    margin-right: 50px;
}

.pagination-older {
    margin-left: 50px;
}

span.pagination-active {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 16px 10px;
    transform: scale(1);
    background-color: #2c3e50;
    border-radius: 24px;
}

.carousel .carousel-inner {
    display: flex;
    height:390px;
    overflow: hidden;
}

.carousel .carousel-item {
    align-self: flex-end;
    margin-bottom: 10px;
}

.carousel-item img {
    position: relative;
    object-fit: fill;
    object-position: center;
    max-width: 100%;
}

.carousel-indicators button {
    align-self: flex-end;
    min-height: 10px;
    max-width: 10px;
    border-radius: 100%;
    background-color: rgba(57,57,57,0.27) !important;
}

.carousel-indicators .active {
    background-color: #2c3e50 !important;
}