<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>main menu</title>
    <link rel="stylesheet" th:href="@{/css/link.css}"/>
    <link href="/static/css/link.css" rel="stylesheet"/>

</head>
<body>

<div th:fragment="menu_fragment">
    <div class="b-example-divider"></div>

    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="navbar-brand px-2" href="/">
                        <img src="/static/image/logo.PNG" th:src="@{/image/logo.PNG}" alt="" width="40"
                             height="40"></a>
                    </li>
                    <li><a href="/" class="nav-link px-2">Home</a></li>
                    <li><a href="https://www.instagram.com/sneaker_culture_ukraine/" target="_blank"
                           class="nav-link px-2">About</a></li>
                    <Li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Add
                        </button>
                        <ul class="dropdown-menu" style="min-width: 60px">
                            <li><a class="dropdown-item" th:href="@{/users/create}">User</a></li>
                            <li><a class="dropdown-item" href="#">Product</a></li>
                        </ul>
                    </Li>

                </ul>

                <form th:action="@{'/products/page/' + ${currentPage} + '?sortField='+ ${sortField} +'&sortDir=' + ${reverseSortDir} +'&filter=' + ${filter}}"
                      method="GET" class="nav col-lg-auto me-lg-auto justify-content-center mb-md-0">
                    <div>
                        <input type="hidden" name="pageNo" th:value="${currentPage}"/>
                        <input type="hidden" name="sortField" th:value="${sortField}"/>
                        <input type="hidden" name="sortDir" th:value="${reverseSortDir}"/>
                        <input type="text" name="filter" class="form-control-dark text-bg-dark" placeholder="Search..."
                               onfocus="if (placeholder === 'Search...') {placeholder = ''}"
                               onblur="if (placeholder === '') {placeholder = 'Search...'}" aria-label="Search">
                    </div>
                    <div>
                        <button type="submit" class="navbar-brand btn btn-dark">
                            <img src="/static/image/searchIcon.png" th:src="@{/image/searchIcon.png}" alt="" width="25"
                                 height="25"></button>
                    </div>
                </form>

                <div class="text-end">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="btn btn-outline-light me-2" th:href="@{/login}" role="button">Log in</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <div class="me-2">Hi,<span sec:authentication="principal.username">Bill</span>
                                <a class="btn btn-outline-light me-2" th:href="@{/logout}" role="button">Log out</a>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="btn btn-outline-warning" th:href="@{users/create}" role="button">Sign Up</a>
                        </li>
                        <li><a class="navbar-brand px-2" href="#" th:if="${bucket}">
                            <img src="/static/image/cart.png" th:src="@{/image/cart.png}" alt="" width="34"
                                 height="38"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>